PORT = 3000
MONGO_URI = mongodb+srv://stever1234:stever1234@cluster0.eu1pghg.mongodb.net/storybooks?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 13956339458-oane27ibhsv2cg5gqn1jtt8tjc6hhomj.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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